<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>아이스크림 홈런 학습센터</title>
	<link rel="stylesheet" href="../css/common.css">
</head>
<body>
<!-- wrap -->
<div class="wrap">
	<!-- header -->
	<header>
		<div class="inner">
			<h1><a href="#"><img src="../image/h1_logo.png" alt="home learn i-scream"></a></h1>
			<!-- 20190620 수정 -->
			<div class="nav_wrap">
				<ul>
					<li class="on">
						<dl>
							<dt><a href="javascript:void(0);" class="on">홈런학습센터 소개</a></dt>
							<dd><a href="#">학습센터란?</a></dd>
							<dd><a href="#">우수학습센터 소개</a></dd>
							<dd><a href="#">학습센터 교사후기</a></dd>
							<dd><a href="#" class="on">학습센터 회원후기</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="javascript:void(0);">학습안내</a></dt>
							<dd><a href="#">학습서비스 안내</a></dd>
							<dd><a href="#">학습프로세스</a></dd>
							<dd><a href="#">학습문의</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="javascript:void(0);">교사채용</a></dt>
							<dd><a href="#">홈런 선생님은?</a></dd>
							<dd><a href="#">지원자격 및 절차</a></dd>
							<dd><a href="#">사업설명회 안내</a></dd>
							<dd><a href="#">학습센터 개설신청</a></dd>
							<dd><a href="#">FAQ(교사)</a></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt><a href="javascript:void(0);">고객센터</a></dt>
							<dd><a href="#">지국위치 안내</a></dd>
							<dd><a href="#">1:1 문의</a></dd>
							<dd><a href="#">FAQ</a></dd>
						</dl>
					</li>
				</ul>
			</div>
			<!-- 20190620 수정 -->
		</div>
	</header>
	<!-- header -->
	<!-- container -->
	<div class="container sub_container">
		<!-- 상단 이미지 -->
		<!-- 20190620 수정 -->
		<div class="visual_wrap visual_intro">
			<h2>홈런학습센터 소개</h2>
			<p>학교교육의 최강자 아이스크림 홈런 학습센터를 소개합니다</p>
		</div>
		<!-- // 20190620 수정 -->
		<!--// 상단 이미지 -->
		<!-- 컨텐츠 로케이션 영역 -->
		<div class="location_wrap">
			<!-- 20190620 수정 -->
			<div class="inner">
				<ul>
					<li class="home"><span>홈</span></li><!-- 190429 a태그 삭제, span태그 추가 -->
					<li>홈런학습센터 소개</li><!-- 190429 a태그 삭제 -->
					<li><strong>학습센터 회원후기</strong></li><!-- 190429 a태그 삭제 -->
				</ul>
			</div>
			<!-- // 20190620 수정 -->
		</div>
		<!--// 컨텐츠 로케이션 영역 -->
		<!-- contents-->
		<div class="contents">
			<div class="inner">
				<!-- 20190620 수정 -->
				<h3>학습센터 회원후기</h3>
				<!-- // 20190620 수정 -->
				<div class="board_list_style">
					<div class="head_area">
						<span class="num">번호</span>
						<span class="tit">제목</span>
						<span class="date">등록일</span>
						<span class="hits">조회수</span>
					</div>
					<ul class="data_list">
						<li>
							<span class="num notice">중요</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">10</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">09</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">08</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">07</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">06</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">05</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">04</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">03</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">02</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
						<li>
							<span class="num">01</span>
							<a href="#" class="tit">아이스크림홈런 공부방 개설 서울 설명회</a>
							<span class="date">2019.03.05</span>
							<span class="hits">120</span>
						</li>
					</ul>
					<div class="paging_area">
						<button type="button" class="btn_page_pre"></button>
						<a href="#" class="current">1</a></span>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<button type="button" class="btn_page_next"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- // contents-->
	</div>
	<!-- // container -->
	<!-- footer -->
	<footer>
		<div class="inner">
			<ul class="ft_util_list">
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">알려드립니다</a></li>
				<li><a href="#">사이트맵</a></li>
			</ul>
			<!-- 190412 수정 -->
			<ul class="ft_info_list">
				<li>주식회사 아이스크림에듀</li>
				<li>대표 : 조용상</li><!-- 190916 수정 -->
				<li>
					<address>서울특별시 강남구 테헤란로88길 15</address>
				</li>
				<li>대표전화 : 1544-0910</li>
				<li>대표이메일 : 8260930@i-screamedu.co.kr</li>
				<li>사업자등록번호 : 120-87-97004</li>
			</ul>
			<!-- // 190412 수정 -->
			<p class="copy">Copyright 2019 i-Scream deu Corporation.  All rights reserved.</p>
		</div>
	</footer>
	<!-- // footer -->
</div>
<!--// wrap -->
<script src="../js/jquery-1.9.1.min.js"></script>
<script src="../js/default.js"></script>
</body>
</html>
